body{
background-color: black;
color: white;
width: auto;
height: auto;
font-size: 20px;
text-align: center;
}
.navegacao{
    background-color:black;
    font-family: monospace;
    font-size: 20px;
    text-align: end;
    width:auto;
}
#fotocabeçalho{
    align-self: center;
    width: auto;
    height: auto;  
}
#titulo{
    text-align: center;
}
#titulo2{
    text-align: center;
}
.paragrafo{
    background-color: gray;
}
ul{
    text-align: left;
    list-style-type: "\2705";
}

ol{
    text-align: left;
}
.logo{
    height: 200px;
    width: 400px;
}
