.navegacao{
    background-color:deepskyblue;
    font-family: monospace;
    font-size: 20px;
    text-align: end;
    width:1250px;
}
#fotocabeçalho{
    width: 1250px;
    height: 250px;  
}
#titulo{
    text-align: center;
}
#titulo2{
    text-align: center;
}