.cabeçalho{
    background-color:deepskyblue;
    font-family: monospace;
    font-size: x-large;
    text-align: end;
}
.fotocabeçalho{

}
.titulo{
text-align: center;
}
.titulo2{
text-align: center;
}